## Fundamentals of Python Syntax

### Comments

In [2]:
print(1)
# print(2)
print(3) # this is number three

1
3

### Printing

In [3]:
name = 'Max'
duration = '90'

In [4]:
print(name + ' attended a ' + duration + ' minute class today')

Max attended a 90 minute class today

In [5]:
print(f'{name} attended a {duration} minute class today')

Max attended a 90 minute class today

### Basic operations

In [6]:
1 + 0.1

1.1

In [7]:
'Hi ' + 'all'

'Hi all'

In [8]:
1 + int('1')

2

In [9]:
2 * 3

6

In [10]:
4 / 5

0.8

In [11]:
3 ** 2

9

### User Input

In [12]:
name = input('What is your name?')
print('Hello', name)

Hello Vincent

### Lists and indexing

In [13]:
l = [5, 7, 2, 4] # a Python list

In [14]:
l[0]

5

In [15]:
l[-1]

4

In [16]:
l[:2]

[5, 7]

In [17]:
l[-2:]

[2, 4]

In [18]:
l.sort()
l

[2, 4, 5, 7]

### List comprehension

In [19]:
[i for i in l]

[2, 4, 5, 7]

In [20]:
[i ** 2 for i in l]

[4, 16, 25, 49]

In [21]:
[i - 1 for i in l]

[1, 3, 4, 6]

In [22]:
[i ** 2 if i <= 5 else i for i in l]

[4, 16, 25, 7]

### Loops and conditional statements

In [23]:
for i in l:
    print(i)

2
4
5
7

In [24]:
for i in range(3):
    print('hi')

hi
hi
hi

In [25]:
value = 1
for i in range(3):
    print(value)
    value += 1

1
2
3

In [26]:
value = 1
while value <= 3:
    print(value)
    value += 1

1
2
3

In [27]:
value = 2
if value < 3:
    print('this is a nice value')
elif 3 <= value < 6:
    print('i dont like this value')
else:
    print('this is a nice value')

this is a nice value

### Modules

#### Math

In [28]:
import numpy as np

In [29]:
np.sqrt(9)

3.0

In [30]:
np.round(2.3746, 2)

2.37

#### Data

In [31]:
import pandas as pd

In [32]:
url = 'https://raw.githubusercontent.com/Humboldt-WI/IPML/main/data/resale_price_dataset.csv'

data = pd.read_csv(url)

In [34]:
data = pd.read_csv('../data/resale_price_dataset.csv')

In [35]:
data

,Brand,Model,Release year,Screen size (inches),Hard drive size (GB),RAM size (GB),Weight (grams),Retail price,Industry,Contract Lease Duration (months),Actual Lease Duration (months),Battery capacity (%),Observed resale price
0,Crest,Elevation Elite,2016,15,512,16,1150,2699,Automotive and Transportation,60,63,87.90,751
1,Crest,Elevation Elite,2016,15,512,16,1150,2719,Healthcare,6,5,95.59,2599
2,Crest,Elevation Elite,2016,15,512,16,1150,2759,Automotive and Transportation,24,27,95.05,1358
3,Crest,Elevation Elite,2016,15,512,16,1150,2639,Automotive and Transportation,36,31,94.66,1166
4,Crest,Elevation Elite,2016,15,512,16,1150,2659,Agriculture and Farming,12,10,89.12,1915
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Zephyr,WindRider W2,2017,15,1028,16,958,3989,Event Management,48,48,94.81,1334
4996,Zephyr,WindRider W2,2017,13,1028,8,830,2859,Aerospace and Defense,36,34,85.46,988
4997,Zephyr,WindRider W2,2017,13,1028,8,830,2859,Construction and Engineering,12,10,95.02,1967
4998,Zephyr,WindRider W2,2017,13,1028,8,830,2829,Automotive and Transportation,60,65,92.36,879
4999,Zephyr,WindRider W2,2017,13,1028,8,830,2949,Consulting,12,11,77.45,1776

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Brand                             5000 non-null   object
 1   Model                             5000 non-null   object
 2   Release year                      5000 non-null   int64
 3   Screen size (inches)              5000 non-null   int64
 4   Hard drive size (GB)              5000 non-null   int64
 5   RAM size (GB)                     5000 non-null   int64
 6   Weight (grams)                    5000 non-null   int64
 7   Retail price                      5000 non-null   int64
 8   Industry                          5000 non-null   object
 9   Contract Lease Duration (months)  5000 non-null   int64
 10  Actual Lease Duration (months)    5000 non-null   int64
 11  Battery capacity (%)              5000 non-null   float64
 12  Observed resale price             5000 non-null   int64
dtypes: float64(1), int64(9), object(3)
memory usage: 507.9+ KB

In [37]:
data.head(20)

,Brand,Model,Release year,Screen size (inches),Hard drive size (GB),RAM size (GB),Weight (grams),Retail price,Industry,Contract Lease Duration (months),Actual Lease Duration (months),Battery capacity (%),Observed resale price
0,Crest,Elevation Elite,2016,15,512,16,1150,2699,Automotive and Transportation,60,63,87.90,751
1,Crest,Elevation Elite,2016,15,512,16,1150,2719,Healthcare,6,5,95.59,2599
2,Crest,Elevation Elite,2016,15,512,16,1150,2759,Automotive and Transportation,24,27,95.05,1358
3,Crest,Elevation Elite,2016,15,512,16,1150,2639,Automotive and Transportation,36,31,94.66,1166
4,Crest,Elevation Elite,2016,15,512,16,1150,2659,Agriculture and Farming,12,10,89.12,1915
5,Crest,Elevation Elite,2016,15,512,16,1150,2719,Retail and E-Commerce,6,6,89.44,2376
6,Crest,Elevation Elite,2016,15,512,16,1150,2619,Consulting,24,26,88.74,1208
7,Crest,Elevation Elite,2016,15,512,16,1150,2669,Non-Profit Organizations,24,24,80.52,1227
8,Crest,Elevation Elite,2016,15,512,16,1150,2709,Non-Profit Organizations,36,39,87.97,1002
9,Crest,Elevation Elite,2016,15,512,16,1150,2719,Retail and E-Commerce,36,37,96.31,1240
10,Crest,Elevation Elite,2016,15,512,16,1150,2669,Event Management,48,49,90.13,958
11,Crest,Elevation Elite,2016,15,512,16,1150,2639,Sports and Recreation,12,11,86.03,1825
12,Crest,Elevation Elite,2016,15,512,16,1150,2739,Energy and Utilities,24,20,86.56,1489
13,Crest,Elevation Elite,2016,15,512,16,1150,2709,Education,36,28,85.27,1146
14,Crest,Elevation Elite,2016,15,512,16,1150,2719,Consulting,60,68,84.64,733
15,Crest,Elevation Elite,2016,15,512,16,1150,2669,Travel and Hospitality,6,6,93.99,2270
16,Crest,Elevation Elite,2016,15,512,16,1150,2699,Construction and Engineering,48,36,95.62,1074
17,Crest,Elevation Elite,2016,15,512,16,1150,2659,Real Estate and Property Management,12,12,82.53,1733
18,Crest,Elevation Elite,2016,15,512,16,1150,2719,Telecommunications,24,19,90.36,1566
19,Crest,Elevation Elite,2016,15,512,16,1150,2739,Automotive and Transportation,48,42,92.57,975

In [38]:
data.describe()

,Release year,Screen size (inches),Hard drive size (GB),RAM size (GB),Weight (grams),Retail price,Contract Lease Duration (months),Actual Lease Duration (months),Battery capacity (%),Observed resale price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2017.121200,14.344000,466.772000,9.396800,1043.571200,2252.572000,28.069200,27.521800,89.529922,1199.526800
std,0.956605,2.501223,333.350319,4.999155,198.075846,991.656229,16.039285,16.273122,6.047601,649.126955
min,2015.000000,11.000000,128.000000,4.000000,692.000000,649.000000,6.000000,3.000000,53.960000,0.000000
25%,2017.000000,12.000000,256.000000,4.000000,892.000000,1509.000000,12.000000,12.000000,86.267500,725.000000
50%,2017.000000,14.000000,256.000000,8.000000,1010.000000,2019.000000,24.000000,25.000000,90.760000,1069.000000
75%,2018.000000,17.000000,512.000000,16.000000,1188.000000,2919.000000,36.000000,38.000000,93.982500,1529.000000
max,2018.000000,19.000000,1028.000000,16.000000,1530.000000,5719.000000,60.000000,75.000000,99.470000,4550.000000

In [39]:
data.columns

Index(['Brand', 'Model', 'Release year', 'Screen size (inches)',
       'Hard drive size (GB)', 'RAM size (GB)', 'Weight (grams)',
       'Retail price', 'Industry', 'Contract Lease Duration (months)',
       'Actual Lease Duration (months)', 'Battery capacity (%)',
       'Observed resale price'],
      dtype='object')

In [41]:
np.mean(data['Hard drive size (GB)']) # Calculate column mean

466.772

In [42]:
# Handling errors and exceptions
try:
    10 / 0
except:
    print('invalid action')

invalid action

### Exercise: Loop that calculates the mean for each column

In [62]:
# Solution 1
means = []
for column in data.columns:
    try:
        means += [np.mean(data[column])]
    except:
        pass
print(means)

[2017.1212, 14.344, 466.772, 9.3968, 1043.5712, 2252.572, 28.0692, 27.5218, 89.529922, 1199.5268]

In [59]:
# Solution 2
means = []
columns = data.select_dtypes(include=['number']).columns
for column in columns:
    means += [np.mean(data[column])]

In [60]:
dict(zip(columns, means))

{'Release year': 2017.1212,
 'Screen size (inches)': 14.344,
 'Hard drive size (GB)': 466.772,
 'RAM size (GB)': 9.3968,
 'Weight (grams)': 1043.5712,
 'Retail price': 2252.572,
 'Contract Lease Duration (months)': 28.0692,
 'Actual Lease Duration (months)': 27.5218,
 'Battery capacity (%)': 89.529922,
 'Observed resale price': 1199.5268}