[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Humboldt-WI/IPML/blob/master/tutorial_notebooks/t8_python_fundamentals_demo.ipynb)

# Python Programming Fundamentals - Demos

## Common Math Operations

Let's first use Python as a calculator and see how it behaves. Notice the cells of code as mentioned earlier. Cells often only display one output although all lines of code are executed. If you'd like it to produce multiple at once, it can be useful to use the print command as shown at the end. Python will explicitly print all outputs in any print command (even if there are multiple).

By adding the character '#', you are telling Python to ignore the following characters on the same line. This is called creating a **comment** and can be very useful to explain your code to others.

In [1]:
1+1 # Python will ignore everything after '#'

2

In [2]:
333/10

33.3

In [3]:
333 // 10 # returns you the floor of the quotient (result of the division rounded down to the nearest integer)

33

In [4]:
1+1/2 # Python follows order of operations

1.5

In [5]:
333 % 10 # returns remainder of the division

3

In [6]:
3 ** 3 # Python uses '**' instead of '^' for exponents

27

In [7]:
pow(2,3) # pow(base, exponent) can also raise numbers to an exponent. We will talk more about functions soon

8

In [8]:
print(1+1, 2+2) # if you need to print multiple items, separate them with a ',' in the print() function. You can also call print() multiple times

2 4

In [9]:
# Understanding check: produce the output of 4 to the power of 2 AND the floor of 12421 divided by 11 in ONE LINE in this cell

# answer: print(pow(4,2), 12421 // 11)

## Using Variables

One very useful feature of nearly every programming language is the ability to give a fixed name to variables. Simply use the formula:

```
variable_name = desired_value
```



**Note:** Your variable names MUST NOT begin with a number, include a dash or space.

After this, every time you type the variable name, Python will refer to the value it has been assigned. If the same variable name is ever used, the value will be overwritten.

Python will consider all types of text as some kind of variable or command. If you ever want to create or reference actual text, it must be between quotation marks. This is called a string in Python. If you want Python to ignore text all together, use '#' to indicate a comment.

In [10]:
a = 1 # all future cells will now refer to a as 1
b = 2 # similarly, all future cells will refer to b as 2

a+b

3

In [11]:
a, b = 1, 2 # assigns variables above in the same way but in one line

a+b

3

In [12]:
a = z = 1 # another way to assign multiple variables of the same value

z

1

In [13]:
print(a)

1

In [14]:
a*5

5

In [15]:
b ** 5 # remember '**' means exponent

32

In [16]:
a = 500 # if you use the same variable name again, you overwrite the previous value

a+b

502

In [17]:
# By default, Python only displays the last line of output from a cell

a*b # This line will be executed in Python, but since the next line causes an output and it comes afterwards, only its output will be displayed

a+b

502

In [18]:
print(a*b, a+b) # using print and a comma separating items will print everything

1000 502

In [19]:
#Can I just write? # this will generate an error because Python will try to look up the value assigned to each word as a variable and find nothing

In [20]:
a = "you can't add strings to numbers" # if you want to generate text for Python to store in memory, use quotation marks around the text to create a string (str for short)

print(a)

you can't add strings to numbers

In [21]:
b = ", but you can add strings together!"

a+b # you can even concatenate (attach) strings if you'd like

"you can't add strings to numbers, but you can add strings together!"

In [22]:
# Understanding check: assign the number 42 to the variable named meaning_of_life, then find the remainder of the division of meaning_of_life by 10

# meaning_of_life = 42
# meaning_of_life % 10

In [27]:
# Understanding check: assign the string 'Dude, Where's My Car?' to the variable movie_name, multiply this movie_name by 3, what happens?

# movie_name = "Dude, Where's My Car?"
# movie_name*3

# Data Types

There are _many_ data types in Python. To check the type of an object, use the function `type( )`.


The most common ones that you will encounter as a data scientist are:


*   integer (eg. 100)
*   float (eg. 100.0)
*   string (eg. 'Hello World!')
*   boolean (eg. True)
*   list (eg. ['one', 'two', 'three'] )
*   tuples (eg. ('one', 'two', 'three') )
*   range (eg. range(0,9,3) )
*   dictionary (eg. {'mammal': 'platypus', 'fish': 'eel'} )
*   NumPy array
*   Pandas Series (in future demo notebooks)
*   Pandas DataFrame (in future demo notebooks)

Aside from these, you will definitely see many more. Let's explore these a bit.

## Integers and Floats

These are going to likely be the most common types that you will encounter. **Integers are whole numbers** while **floats contain decimals**.

In [24]:
a = 5

b = 5.0

print(type(a), type(b)) # integers have no decimals while floats do

<class 'int'> <class 'float'>

In [25]:
int(b) # converts b to an integer, note that if we do not assign this back to b by executing 'b=int(b)', b will not change

5

In [26]:
b = int(b)

b

5

## Strings

Strings are like pieces of text. They are always enclosed between quotation marks, single or double quotes both work. You can convert numbers to strings too. Note that they will now have all the properties of strings.

In [27]:
c = "any text between single or double quotes is a string" # you can use single or double quotes around strings
d = 'any text between single or double quotes is a string'

In [28]:
a = str(a) # if we want to turn the number that we assigned to a into a string, we can use the str( ) function

a*10 # now instead of 5*10, Python is performing '5'*10 so it will paste '5' 10 times

'5555555555'

In [29]:
a = int(a) # you can change a string back to a number back by using int() or float()

a*10

50

In [30]:
print(c[0], c[2]) # you can find the nth letter in a string by enclosing n-1 in square brackets (since Python starts counting at 0)

a y

In [31]:
len(c) # gives you the number of characters in the string, this will be useful in Natural Language Processing (NLP) and more

52

Other tricks with strings can be found here: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

## Booleans

**Booleans** take on two possible values (pay attention to capitalisation):
*    `True`
*    `False`

These can be used to evaluate conditions. To check if something is equal and get a Boolean value, use `==`. Recall that `=` assigns variables. You can also create conditions using `<`, `>` and:

*   `>=` greater than or equal to
*   `<=` less than or equal to
*   `!=` not equal to
*   `is` and `is not` also yield Booleans, however they require exact identity matches unlike `==` and `!=` .

Keep in mind, many other functions and syntax return Boolean values. For example, there is the function ``` isinstance(x, var_type) ``` which returns the corresponding Boolean value if variable x is equivalent to the type specified. Always check functions' outputs so you can handle their data types in an effective way.

`True` also corresponds to the value `1` while `False` corresponds to `0`.

In [32]:
e = 5

f = 5.00

print(e>f, e==f,  e>=f, e!=f)

False True True False

In [33]:
print(e is f) # note that since e is not the exact same as f, "is" returns False

False

In [34]:
c = "any text between single or double quotes is a string"
d = 'any text between single or double quotes is a string'

print(c == d) # as mentioned, even though the second uses single quotations, it is equivalent in Python

True

In [35]:
print(isinstance(c, str)) # many functions may return Boolean values like this one which checks if variable c is a string (use the short form str)

True

In [36]:
print(True == 1, False == 0) # the Boolean value of True is equal to 1, similarly, the Boolean value of False is equal to 0. 
# this will be useful for categorical variables.

True True

In [37]:
# Python only recognizes False and True as a Boolean value, FALSE and false (TRUE and true) are considered possible variable names.
print(type(False), type(True))

<class 'bool'> <class 'bool'>

In [38]:
# print(type(FALSE)) # only False works as a boolean value, otherwise, Python thinks it's a variable

We can combine conditions with:
*    `and` (all must be satisfied)
*    `or` (at least 1 must be satisfied)
*    `not` (reverses result)

In [39]:
p = 1
q = 2

p > q and p < q # since both must be satisfied, but each is mutually exclusive in this case, this must be False

False

In [40]:
p > q or p < q # since one of these is true, it is True

True

In [41]:
not (p == q) # the expression in brackets is False but 'not' reverses that

True

## Lists, Indexing & Slicing

**Lists** are a sequenced container of items. Items can be of virtually any type (strings, other lists, tuples, integers...). Lists are created by putting contents sequentially in square brackets separated by commas. You can initialize an empty list to be filled by putting an empty set of square brackets.

Each item in a list has a uniquely callable position which is called an **index**. Indices can be labelled but can always be referred to by number as well. Numbering in Python always starts at 0. So, to access the first item in a list, you must call `list_name[0]`.  This is called Zero-Based Indexing and differs from programming languages like R, which use One-Based Indexing.

In [42]:
just_some_empty_list = [] # initalizing empty lists will be useful later on, this simple trick is worth remembering for loops later

type(just_some_empty_list)

list

In [43]:
whats_in_my_fridge = ['cucumber', 'pasta sauce', 'leftovers', 'margarine', 'tomato'] # create a list just putting items between square brackets separated by commas, you could even create a list of lists!

whats_in_my_fridge[0] # calls first element of list or the item at index 0

'cucumber'

In [44]:
whats_in_my_fridge[-1] # items can be called using negative numbers, the final item in the list is index -1, second last is -2 and so on

'tomato'

In [45]:
whats_in_my_fridge[1] = 'kartoffelsalat' # you can replace items using indexing, here item 2 (indexed at 1) is replaced

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'leftovers', 'margarine', 'tomato']

In [46]:
del whats_in_my_fridge[2] #if I ate my leftovers, we can delete it from the list like so

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'margarine', 'tomato']

**Slicing** is how data is often selected in Python. Use the index plus `:`. The `:` can be read as _up to but not including_ .

For example, `2:10` means _item indexed at 2 up to but not including item indexed at 10_. If you don't Include a start point or an end point for slicing, Python will start at the very beginning of the index or go to the very end of the index.

In [47]:
whats_in_my_fridge[0:2] # select the first item (with index 0) up to but not including the third item

['cucumber', 'kartoffelsalat']

In [48]:
whats_in_my_fridge[2:] # select item 3 up to the end of the list. If we wrote [:2], Python would have fetched the very beginning up to but not including item 3.

['margarine', 'tomato']

In [49]:
what_i_want_in_fridge = ['apples']

tomorrow_in_my_fridge = whats_in_my_fridge + what_i_want_in_fridge

tomorrow_in_my_fridge # you can also add two lists to combine them

['cucumber', 'kartoffelsalat', 'margarine', 'tomato', 'apples']

In [50]:
whats_in_my_fridge.append('spring rolls') # each data type has associated 'methods and attributes'. For example, lists have the .append() method which adds a new specified item

# it is very useful to learn more about possible methods and attributes of your data types as they will make programming much easier, we will discuss these soon

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'margarine', 'tomato', 'spring rolls']

In [51]:
whats_in_your_fridge = whats_in_my_fridge # let's create a new list based on our old list

whats_in_your_fridge[1] = 'hummus' # let's change one item in this new list

print(whats_in_your_fridge, whats_in_my_fridge) # wait, we changed YOUR fridge, why did my fridge change too?

['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls'] ['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls']

In [52]:
# variable names refer to the original list, to create a copy which you want to edit completely separately, use the list method .copy()

whats_in_your_fridge = whats_in_my_fridge.copy()

whats_in_your_fridge[2] = 'guacamole'

print(whats_in_your_fridge, whats_in_my_fridge)

['cucumber', 'hummus', 'guacamole', 'tomato', 'spring rolls'] ['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls']

Other tricks with lists can be found here: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range .

### Methods to work with Lists
**Lists** have many useful methods. You can view some of the most useful here: https://docs.python.org/3/tutorial/datastructures.html .

Let's observe some examples:

In [77]:
words_i_like = ['fuzzy', 'muffle', 'truck']  # nothing new here

words_i_like.append('roar')  # ok, so when using the function append(), we actually call a method in the class list, just as if we call method greeting() in our class person
 

words_i_like.reverse()  # yet another call of a method. This time, however, the method does not require us to specify an argument. The entire functioning 
# of the method is based on data that is stored together with the object. Here, this data are just the entries in the list

words_i_like  # notice how the order of words that we like has changed.

['roar', 'truck', 'muffle', 'fuzzy']

In [78]:
words_i_like.sort(reverse=True)

words_i_like

['truck', 'roar', 'muffle', 'fuzzy']

In [79]:
# Check your understanding: Pop the last item off the list using the appropriate method, note that this method removes the last item forever

words_i_like.pop()

'fuzzy'

**Strings** also have many methods associated. You can review all here: https://docs.python.org/3/library/stdtypes.html#string-methods .

In [80]:
sea_shells = 'she sells sea shells by the sea shore'

sea_shells.upper() # upper case method, this does not overwrite the variable in all caps

'SHE SELLS SEA SHELLS BY THE SEA SHORE'

In [81]:
# Check your understanding: Split the string by blank space (' ') using a method and appropriate argument

sea_shells.split(sep=' ')

['she', 'sells', 'sea', 'shells', 'by', 'the', 'sea', 'shore']

## Tuples

Tuples are objects stored together. These objects cannot be altered, which makes tupels and lists different. Instead of being stored in **square** brackets, tuples are stored in **round** brackets. If you have one item, you can just follow it with `,` and it will be a single item tuple.

Again, unlike lists, **tuples cannot be altered**. You can convert them to lists or break them into multiple items and alter them that way.

In [55]:
cool_tuple = ('ponies', 'unicorns', 'sharks with laser beams on their heads')

type(cool_tuple)

tuple

In [56]:
cool_tuple[2] # indexing works the same way as lists

'sharks with laser beams on their heads'

In [57]:
# cool_tuple[2] = 'lame animal like a squirrel' # will not work because tuples are immutable

In [58]:
item_1, item_2, item_3 = cool_tuple # you can break tuples up into individual elements by assigning each to a variable

print('I want', item_1, ', ', item_2, 'and especially', item_3)

I want ponies ,  unicorns and especially sharks with laser beams on their heads

In [59]:
# del cool_tuple[2] # again, tuples do not support any sort of alteration

In [60]:
cool_list = list(cool_tuple) # tuples CANNOT be changed, but you can turn them into a list and then altered that way

cool_list # notice the square brackets

['ponies', 'unicorns', 'sharks with laser beams on their heads']

In [61]:
another_cool_tuple = True, # if you want a tuple with one item, you don't even need brackets, just put a comma after the object

cool_tuple + another_cool_tuple # adding tuples just causes them to get combined together, you can assign this to a new variable if you'd like

('ponies', 'unicorns', 'sharks with laser beams on their heads', True)

## Questions on Common Data Types

In [62]:
# Understanding check: adjust these variable types

meaning_of_life = 42

# turn this variable into a string using the str() function, save as a new variable called meaning_of_life2

In [63]:
# after, turn the variable back into a integer and overwrite it using the same name

In [64]:
# get the first 3 letters of the second item in my fridge

'hum'

In [65]:
# What is the difference between =, == and is in Python?

# What is 0 indexing?

# Which one of these two can we edit: lists or tuples?

In [66]:
# how do we unpack the following tuple into drink_1, drink_2 and drink_3

drinks = ('mate', 'coffee', 'Redbull')

In [67]:
# manipulate the following list

numbers = [100000, 10, 1, .01, 100, 2]

# remove the second number from this list


# change the first number to 33


# add 45 to the end of this list

[66, 2, 0.02, 200, 4, 90]

## Dictionaries

Dictionaries are another data type. While they may look like lists, their main focus is storing items as key-value pairs. There is a label (key) which corresponds with a value or set of values.

This system makes it very easy to look up values according to specific keys. If you imagine key's as column (or row) names, values could be column (row) values. As you can imagine, this means that many dictionaries are very easy to turn into common data structures which we will be using later on.

Dictionaries have the following form:


```
dict_1 = {key_1 : value_1, key_2 : value_2} # for one value per key
dict_2 = {key_1:[value_1_1, value_1_2,...], key_2:[value_2_1, value_2_2,...], ...} # use lists for multiple values per key
```
It is also possible for a key's value to be another dictionary (dictionary-ception!). You may see this in practice.

Let's take a look at some examples of dictionaries and how to use them.

In [92]:
new_dict = {} # how to initialize a new dictionary for a loop

In [93]:
l_countries_capitals = {'Lesotho' : 'Matheru', 'Laos' : 'Vientiane', 'Luxembourg' : 'Luxembourg'}

l_countries_capitals.keys() # check the keys of the dictionary

dict_keys(['Lesotho', 'Laos', 'Luxembourg'])

In [94]:
l_countries_capitals.values() # check values in the dictionary

dict_values(['Matheru', 'Vientiane', 'Luxembourg'])

In [95]:
l_countries_capitals['Laos'] # look up a specific value

'Vientiane'

In [96]:
l_countries_capitals['Lebanon'] = 'Sidon' # add a new value, then edit it later

l_countries_capitals # note that unlike lists, order in dictionaries is not fixed, Lebanon was not attached at the end

{'Lesotho': 'Matheru',
 'Laos': 'Vientiane',
 'Luxembourg': 'Luxembourg',
 'Lebanon': 'Sidon'}

In [97]:
l_countries_capitals['Lebanon'] = 'Beirut'

l_countries_capitals

{'Lesotho': 'Matheru',
 'Laos': 'Vientiane',
 'Luxembourg': 'Luxembourg',
 'Lebanon': 'Beirut'}

In [98]:
'Luxembourg' in l_countries_capitals # check if the key exists in the dictionary with in

True

In [99]:
if 'Laos' in l_countries_capitals: # this is very useful for creating if-statements
  print('Sabaidi!')

Sabaidi!

In [100]:
if 'Latvia' in l_countries_capitals:
  print('Sveiki!')
else:
  print('Aww, we should add them!')

Aww, we should add them!

In [101]:
for key, val in l_countries_capitals.items(): # iterate over a dictionary using .items(), this will return a tuple of (key, value) which we can break up immediately
  print('So, we have', val, 'which is the capital of', key, '.')

So, we have Matheru which is the capital of Lesotho .
So, we have Vientiane which is the capital of Laos .
So, we have Luxembourg which is the capital of Luxembourg .
So, we have Beirut which is the capital of Lebanon .

In [102]:
# Check your understanding: create a dictionary called aus_animals whose keys are the strings mammal, reptile and bird.
# Assign the values crocodile, emu and kangaroo to the correct key

aus_animals = {"mammal":"kangaroo", "reptile": "crocodile", "bird": "emu"}

# look up the keys of your dictionary using the right method

aus_animals.keys()

dict_keys(['mammal', 'reptile', 'bird'])

In [103]:
# look up the values of your dictionary using the right method

aus_animals.values()

dict_values(['kangaroo', 'crocodile', 'emu'])

In [104]:
# check the value stored under the key "bird"

aus_animals["bird"]

'emu'

In [105]:
# change the value of the mammal key to koala

aus_animals["mammal"] = "koala"

In [106]:
# use the .update() method on aus_animals and use the following dictionary as the argument and describe the change:

more_animals = {"amphibian": "tree frog", "bird": "cockatoo"}

aus_animals.update(more_animals)

aus_animals

{'mammal': 'koala',
 'reptile': 'crocodile',
 'bird': 'cockatoo',
 'amphibian': 'tree frog'}

In [107]:
# use a for loop to print the following sentence for each animal: A classic Australian [animal type] is a [example animal]

for key, value in aus_animals.items():
  print("A classic Australian", key, "is a", value)

A classic Australian mammal is a koala
A classic Australian reptile is a crocodile
A classic Australian bird is a cockatoo
A classic Australian amphibian is a tree frog